<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.framework.lista">

    <application
        android:name=".app.TaskApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.Activity.MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".View.Activity.TaskFormActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Activity.LauncherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_launcher"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


    </application>

</manifest>